---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: klusterlets.operator.open-cluster-management.io
spec:
  group: operator.open-cluster-management.io
  names:
    kind: Klusterlet
    listKind: KlusterletList
    plural: klusterlets
    singular: klusterlet
  preserveUnknownFields: false
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: |
          Klusterlet represents controllers to install the resources for a managed cluster.
          When configured, the Klusterlet requires a secret named bootstrap-hub-kubeconfig in the
          agent namespace to allow API requests to the hub for the registration protocol.
          In Hosted mode, the Klusterlet requires an additional secret named external-managed-kubeconfig
          in the agent namespace to allow API requests to the managed cluster for resources installation.
        type: object
        properties:
          apiVersion:
            description: |
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec represents the desired deployment configuration of Klusterlet
              agent.
            type: object
            properties:
              clusterName:
                description: |
                  ClusterName is the name of the managed cluster to be created on hub.
                  The Klusterlet agent generates a random name if it is not set, or discovers the appropriate cluster name on OpenShift.
                maxLength: 63
                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                type: string
              deployOption:
                description: DeployOption contains the options of deploying a klusterlet
                type: object
                properties:
                  mode:
                    description: |
                      Mode can be Default, Hosted, Singleton or SingletonHosted. It is Default mode if not specified
                      In Default mode, all klusterlet related resources are deployed on the managed cluster.
                      In Hosted mode, only crd and configurations are installed on the spoke/managed cluster. Controllers run in another
                      cluster (defined as management-cluster) and connect to the mangaged cluster with the kubeconfig in secret of
                      "external-managed-kubeconfig"(a kubeconfig of managed-cluster with cluster-admin permission).
                      In Singleton mode, registration/work agent is started as a single deployment.
                      In SingletonHosted mode, agent is started as a single deployment in hosted mode.
                      Note: Do not modify the Mode field once it's applied.
                    type: string
              namespace:
                description: |
                  Namespace is the namespace to deploy the agent on the managed cluster.
                  The namespace must have a prefix of "open-cluster-management-", and if it is not set,
                  the namespace of "open-cluster-management-agent" is used to deploy agent.
                  In addition, the add-ons are deployed to the namespace of "{Namespace}-addon".
                  In the Hosted mode, this namespace still exists on the managed cluster to contain
                  necessary resources, like service accounts, roles and rolebindings, while the agent
                  is deployed to the namespace with the same name as klusterlet on the management cluster.
                maxLength: 57
                pattern: ^open-cluster-management-[-a-z0-9]*[a-z0-9]$
                type: string
              registrationImagePullSpec:
                description: |
                  RegistrationImagePullSpec represents the desired image configuration of registration agent.
                  quay.io/open-cluster-management.io/registration:latest will be used if unspecified.
                type: string
              workImagePullSpec:
                description: |
                  WorkImagePullSpec represents the desired image configuration of work agent.
                  quay.io/open-cluster-management.io/work:latest will be used if unspecified.
                type: string
              imagePullSpec:
                description: |
                  ImagePullSpec represents the desired image configuration of agent, it takes effect only when
                  singleton mode is set. quay.io/open-cluster-management.io/registration-operator:latest will
                  be used if unspecified
                type: string
          status:
            description: Status represents the current status of Klusterlet agent.
            type: object
            properties:
              conditions:
                description: |
                  Conditions contain the different condition statuses for this Klusterlet.
                  Valid condition types are:
                  Applied: Components have been applied in the managed cluster.
                  Available: Components in the managed cluster are available and ready to serve.
                  Progressing: Components in the managed cluster are in a transitioning state.
                  Degraded: Components in the managed cluster do not match the desired configuration and only provide
                  degraded service.
                type: array
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  type: object
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  properties:
                    lastTransitionTime:
                      description: |
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []

